/*************
Create blog
****************/

.blog-create-container {
  background-color: aliceblue;
}

.drop-area {
  width: 100%;
  height: 200px;
  background-color: azure;
  border-radius: 4px;
  border: 2px dashed rgb(167, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.drop-area img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.dragging {
  border: 2px solid rgb(167, 239, 239) !important;
}

.blog-create-form {
  width: 85%;
  margin: 0 auto;
}
.cover-image {
  display: block;
  width: 100%;
}
.cover-image .drop-area {
  width: 100%;
  height: 400px;
}

.blog-title-input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: 0;
  box-shadow: 14px 17px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
}

.blog-description-input {
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  box-shadow: 14px 17px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  height: auto;
  min-height: 100%;
  background: white;
}

#descriptions {
  padding: 10px;
  outline: 1px dashed rgb(4, 125, 246);
  margin-bottom: 20px;
}

.description-image {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-title {
  border: 0;
  outline: 0;
  box-shadow: 14px 17px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.remove-btn {
  background-color: red;
  border-radius: 5px;
  outline: 0;
  border: none;
  color: white;
  padding: 8px;
  max-height: 50px;
}

.video-url-input {
  width: 85%;
  border: none;
  outline: 0;
  box-shadow: 14px 17px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}

.add-section-btn {
  display: block;
  width: 200px;
  font-size: 20px;
  background-color: black;
  color: white;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  outline: 0;
}

.add-btn {
  background-color: #74b9ff;
  color: white;
  border: none;
  outline: 0;
  min-width: 100px;
  width: auto;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
}

.submit-blog {
  display: block;
  margin: 20px auto;
  background-color: #2ecc71;
  color: white;
  font-size: 20px;
  border: none;
  outline: 0;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
}

.btn-section-remove {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 500;
}

/***************
render blog
**************/

.description-box{
  width: 100%;
}
.descrtiption{
  width: 100%;
  margin-bottom: 35px;
  font-size: 18px;
}
.image-name{
  margin-top: 5px;
  font-style: italic;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
}

.description-image{
  width: 450px;
  margin: 15px auto;
}

.blog-box {
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.2s;
  border-radius: 5px;
}

.blog-box:hover {
  transform: scale(1.02);
}

.blog-box img {
  width: 100%;
  min-height: 200px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.blog-box h4 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.blog-box p {
  font-size: 16px;
  color: #666;
}

.blog-box p:first-of-type {
  margin: 10px 0;
}

.blog-box p:last-of-type {
  color: #999;
  font-weight: bold;
}